@use "../../../../scss/main.scss" as *;
@use "../../../../scss/typography/typography.scss" as *;

.buyGmgToken {
  background-image: url("/assets/images/presale.png");
  width: 100%;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  padding: 18px 29px;
  @media (max-width:576px) {
    padding: 16px 28px;
    border-radius: 19px;
  }

  .boxHeader {
    padding: 0 0 17px 0;
    @media (max-width:576px) {
      padding: 0 0 15px 0;
    }

    h2 {
      color: var(--primary);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-family: var(--font-unbounded);
      text-align: center;
      margin: 0 0 3px 0;
      @media (max-width:576px) {
        font-size: 19px;
      }
    }

    h3 {
      text-align: center;
      color: var(--text-white);
      text-align: center;
      font-family: var(--font-unbounded);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media (max-width:576px) {
        font-size: 19px;
      }
    }
  }
  .subBox {
    border-radius: 15px;
    background: var(--bg-black-opacity-500);
    backdrop-filter: blur(5px);
    color: var(--text-white);
    padding: 20px;
    display: flex;
    margin: 0 0 18px 0;
    justify-content: space-between;
    @media (max-width:576px) {
      padding: 19px;
      border-radius: 14.25px;
      margin: 0 0 16px 0;
    }

    p {
      font-size: 26px;
      font-family: var(--font-unbounded);
      font-style: normal;
      margin: 0 0 4px 0;
      font-weight: 800;
      line-height: normal;
      text-align: center;
      @media (max-width:576px) {
        font-size: 24px;
      }
    }

    span {
      display: block;
      @include font14bold;
      text-align: center;
      @media (max-width:576px) {
        font-size: 13px;
      }
    }
  }

  .liveContent {
    h4 {
        @include font16bold;
        color: var(--text-white);
        text-align: center;
        @media (max-width:576px) {
          font-size: 15px;
        }
    }

    .textGrid {
        padding: 0 0 23px 0;
        display: grid;
        grid-template-columns: 60px 1fr 60px;
        gap: 13px;
        align-items: center;
        @media (max-width:576px) {
          padding: 0 0 20px 0;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: var(--text-white);
        }

        span {
            display: block;
            @include font16bold;
            text-align: center;
            color: var(--text-white);
            @media (max-width:576px) {
              font-size: 15px;
            }
        }
    }
  }

  .buttonAlignment {
    max-width: 206px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0 21px 0;
    gap: 12px;
    @media (max-width:576px) {
      gap: 9px;
      padding: 0 0 9px 0;
    }
    button {
        padding: 8px;
        width: 100%;
        @include font18bold;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid var(--primary);

        &.fillPrimary {
            background-color: var(--primary);
            color: var(--black100);

            &:hover {
                background-color: transparent;
                color: var(--primary);
            }
        }

        &.whiteBtn {
           background: rgba(255, 255, 255, 0.02);
           backdrop-filter: blur(10px);
            color: var(--primary);
        }
    }

    
  }

  .walletText {
    p {
        text-align: center;
        color: var(--text-white);
        cursor: pointer;
        @include font12bold;
    }
  }
}
