@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.mediaPresence {
    padding: 64px 0;

    @media (max-width:576px) {
        padding: 70px 0;
    }

    .titleIconAlignment {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 0 0 40px 0;

        @media (max-width:576px) {
            display: block;
        }

        svg {
            @media (max-width:576px) {
                width: 18px;
                height: 18px;
                margin: 0 auto 10px auto;
                display: block;
            }
        }

        h2 {
            color: var(--text-white);
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            font-family: var(--font-unbounded);
            text-transform: uppercase;

            @media (max-width:576px) {
                font-size: 32px;
                text-align: center;
            }
        }
    }

    .logoBox {
        border-radius: 12px;
        border: 1px solid var(--border-color);
        background: var(--bg-white-600);
        padding: 12px 23px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        transition: .3s ease-in-out;
        position: relative;
        overflow: hidden;

        &:hover {

            &::after {
                animation: shimmer .8s ease-in-out forwards;
                left: 0;
            }
        }

        @keyframes shimmer {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(100%);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg,
                    transparent,
                    rgba(7, 192, 47, 0.1),
                    transparent);
            pointer-events: none;
        }

        &:hover {
            border: 1px solid var(--primary);
        }

        img {
            display: block;
            max-width: 145px;
            width: 100%;

            @media (max-width:576px) {
                max-width: 120px;
                
            }
        }
    }
}