@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.mobilepaddingRemove {
    :global(.container-md) {
        padding: 0;
    }
}

.gamergeTokenomics {
    position: relative;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);

    @media (max-width:576px) {
        border-left: none;
        border-right: none;
    }

    .vectwo {
        position: absolute;
        top: -20px;
        left: -10px;

        @media (max-width:576px) {
            left: inherit;
            right: 0;
        }

        img {
            display: block;
            animation: floatSwayPop 4s ease-in-out infinite;
            display: inline-block;
            will-change: transform, filter;
            transition: transform 0.3s ease;

            @media (max-width:1024px) {
                max-width: 140px;
            }

            @media (max-width:576px) {
                max-width: 100px;
            }
        }

        @keyframes floatSwayPop {
            0% {
                transform: translateY(0px) translateX(0px) scale(1);
            }

            25% {
                transform: translateY(-6px) translateX(4px) scale(1.03);
            }

            50% {
                transform: translateY(-10px) translateX(0px) scale(1.05);
            }

            75% {
                transform: translateY(-6px) translateX(-4px) scale(1.03);
            }

            100% {
                transform: translateY(0px) translateX(0px) scale(1);
            }
        }

    }


    .chartSvg {
        position: relative;
        width: 100%;
        height: 549px;
        border-radius: 50%;
        overflow: visible;
        padding: 0 20px;

        @media (max-width:576px) {
            height: 349px;
        }
    }

    text {
        @media (max-width:576px) {
            font-size: 11px;
            font-weight: 700;
        }
    }

    .toyImage {
        position: absolute;
        bottom: -7px;
        right: 20px;

        @media (max-width:576px) {
            position: inherit;
            bottom: 0;
            display: flex;
            justify-content: center;
            right: 0;
        }

        img {
            animation: floatAround 3s ease-in-out infinite;
            transform-style: preserve-3d;
            will-change: transform;

            @media (max-width:576px) {
                max-width: 283px;
                height: 323px;
            }
        }

        @keyframes floatAround {
            0% {
                transform: translate(0px, 0px) rotateZ(0deg);
            }

            25% {
                transform: translate(5px, -5px) rotateZ(1deg);
            }

            50% {
                transform: translate(0px, -10px) rotateZ(0deg);
            }

            75% {
                transform: translate(-5px, -5px) rotateZ(-1deg);
            }

            100% {
                transform: translate(0px, 0px) rotateZ(0deg);
            }
        }

    }

    &::before {
        position: absolute;
        left: -1px;
        top: -38px;
        content: '';
        background-color: var(--border-color);
        width: 1px;
        height: 38px;
    }

    &::after {
        position: absolute;
        right: -1px;
        top: -38px;
        content: '';
        background-color: var(--border-color);
        width: 1px;
        height: 38px;
    }

    .borderBottom {
        &::before {
            position: absolute;
            left: -1px;
            bottom: -37px;
            content: '';
            background-color: var(--border-color);
            width: 1px;
            height: 37px;
        }

        &::after {
            position: absolute;
            right: -1px;
            bottom: -37px;
            content: '';
            background-color: var(--border-color);
            width: 1px;
            height: 37px;
        }
    }

    .pinkblur {
        border-radius: 394px;
        background: #7B19D8;
        filter: blur(400px);
        width: 394px;
        z-index: -1;
        height: 394px;
        flex-shrink: 0;
        position: absolute;
        bottom: 0;
        left: 0;

        @media (max-width:576px) {
            background: #00FF7F;
        }

    }

    .line {
        width: calc(100% - 222px);
        margin: 0 auto 0 auto;
        height: 1px;
        position: relative;
        top: -1px;
        background-color: var(--border-color);

        @media (max-width:576px) {
            width: calc(100% - 142px);
        }

        &::before {
            max-width: 900px;
            width: 100%;
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid transparent;
            /* Needs a border */
            border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.44%, rgba(255, 255, 255, 0) 100%);
            border-image-slice: 1;

            @media (max-width:576px) {
                max-width: 100px;
            }
        }
    }

    .linebottom {
        width: calc(100% - 222px);
        margin: 0 auto 0 auto;
        height: 1px;
        position: relative;
        top: -1px;
        background-color: var(--border-color);

        @media (max-width:576px) {
            width: calc(100% - 142px);
        }


        &::before {
            max-width: 900px;
            width: 100%;
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid transparent;
            border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.44%, rgba(255, 255, 255, 0) 100%);
            border-image-slice: 1;

            @media (max-width:576px) {
                max-width: 100px;
            }
        }
    }


    .leftSide {
        width: 80px;
        height: 1px;
        background-color: var(--border-color);
        position: relative;
        top: -40px;

        @media (max-width:576px) {
            width: 40px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 50px;
            height: 1px;
            background-color: var(--border-color);
            left: 71px;
            top: 19px;
            transform: rotate(50deg);

            @media (max-width:576px) {
                left: 31px;
            }

        }
    }

    .leftSidebottom {
        width: 80px;
        height: 1px;
        background-color: var(--border-color);
        position: relative;
        top: 37px;

        @media (max-width:576px) {
            width: 40px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 51px;
            height: 1px;
            background-color: var(--border-color);
            left: 69px;
            top: -19px;
            transform: rotate(-50deg);

            @media (max-width:576px) {
                left: 31px;
            }

        }
    }

    .rightSidebottom {
        width: 80px;
        height: 1px;
        background-color: var(--border-color);
        position: relative;
        top: 37px;
        margin-left: auto;

        @media (max-width:576px) {
            width: 40px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 51px;
            height: 1px;
            background-color: var(--border-color);
            right: 70px;
            top: -20px;
            transform: rotate(50deg);

            @media (max-width:576px) {
                right: 31px;
            }
        }
    }

    .rightSide {
        width: 80px;
        height: 1px;
        background-color: var(--border-color);
        position: relative;
        top: -40px;
        margin-left: auto;

        @media (max-width:576px) {
            width: 40px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 50px;
            height: 1px;
            background-color: var(--border-color);
            right: 70px;
            top: 19px;
            transform: rotate(-50deg);

            @media (max-width:576px) {
                right: 31px;
            }

        }
    }

    .titleIconAlignment {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 60px 0;

        @media (max-width:576px) {
            display: block;
            padding: 20px 0 40px 0;
        }

        svg {
            @media (max-width:576px) {
                width: 18px;
                height: 18px;
                display: flex;
                margin: 0 auto 10px auto;
            }
        }

        h2 {
            color: var(--text-white);
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            font-family: var(--font-unbounded);
            text-transform: uppercase;

            @media (max-width:576px) {
                font-size: 32px;
                text-align: center;
            }
        }
    }

    .imageCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 0 25px 0;
        max-width: 814px;
        margin: 0 auto;

        .chartLine {
            position: absolute;
            left: 0;
            top: 0;

            @media (max-width:576px) {
                display: none;
            }

            img {
                display: block;
            }
        }

        .mobileChartline {
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            @media (max-width:576px) {
                display: block;
            }

        }

        .centerImage {
            max-width: 65px;
            max-height: 65px;
            margin: 10px 0 0 0;

            @media (max-width:576px) {
                max-width: 34px;
                max-height: 34px;
                margin: 5px 0 0 0;
            }
        }

    }


    .buttonCenter {
        display: flex;
        justify-content: center;
        padding: 0 0 80px 0;

        @media (max-width:576px) {
            padding: 20px 0 20px 0;
        }

        button {
            padding: 8px 20px;
            @include font16bold;
            background: var(--text-white);
            color: var(--black100);
            border: 1px solid var(--border-white);
            transition: .3s ease-in-out;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            align-items: center;
            gap: 12px;

            &:hover {
                color: var(--text-white);
                background-color: transparent;

                svg {
                    path {
                        fill: var(--text-white);
                    }
                }
            }
        }
    }
}

.customTooltip {
    border-radius: 9.377px;
    border: 0.781px solid var(--Gray-Gray-800, #4D4D4D);
    background: #000;
    padding: 20px;
    backdrop-filter: blur(1.562909722328186px);
    max-width: 289px;

    h2 {
        @include font18bold;
        color: var(--light-800);
        margin: 0 0 6px 0;
    }

    p {
        @include font16bold;
        color: var(--light-800);
        margin: 0 0 6px 0;
    }

    span {
        display: block;
        @include font12;
        color: #D1D5DB;
    }
}

.svgroundtexrt {
    p {
        @include font16medium;
        font-weight: 400;
        color: #FAFAFA;
        font-size: 15px;

        @media (max-width:576px) {
            margin: 6px 0 10px 0;
            font-size: 11px;
        }
    }

    h4 {
        font-size: 16px;
        font-family: var(--font-unbounded);
        color: #FAFAFA;
        line-height: 20px;

        @media (max-width:576px) {
            font-size: 13px;
            line-height: 18px;
        }
    }
}