@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.ambassadorProgram {
    background-image: url('/assets/images/ambassadorProgram.png');
    width: 100%;
    background-size: cover;
    padding: 290px 0 160px 0;
    background-repeat: no-repeat;
    @media (max-width:576px) {
        background-image: url('/assets/images/ambassadorProgram-mobile.png');
        padding: 250px 0 100px 0;
    }

    .title {
        h2 {
            @include heading1;
            color: var(--text-light);
            text-align: center;
            margin: 0 0 28px 0;
            @media (max-width:576px) {
                font-size: 32px;
            }
            span {
                color: var(--primary);
            }
        }

        p {
            @include font16medium;
            color: var(--light-text-65);
            text-align: center;
            max-width: 1078px;
            margin: 0 auto;
        }
    }
}