@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.businessBenefits {
    position: relative;
    padding: 48px 0 76px 0;

    @media (max-width:576px) {
        padding: 0 0 80px 0;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 394px;
        background: #00FF7F;
        width: 394px;
        height: 394px;
        flex-shrink: 0;
        content: '';
        z-index: -1;
        filter: blur(400px);

        @media (max-width:576px) {
            display: none;
        }
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 394px;
        background: #7B19D8;
        filter: blur(400px);
        width: 394px;
        height: 394px;
        flex-shrink: 0;
        content: '';

        @media (max-width:576px) {
            display: none;
        }
    }

    .iconCenter {
        display: flex;
        justify-content: center;
        padding: 0 0 10px 0;

        @media (max-width:576px) {
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .title {
        padding: 0 0 40px 0;

        h2 {
            @include heading2;
            color: var(--text-white);
            text-align: center;

            @media (max-width:576px) {
                font-size: 32px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid var(--border300);

        @media (max-width:576px) {
            grid-template-columns: 1fr;
            gap: 0;
        }


        .griditems:last-child {
            border-right: none;
        }

        .griditems:first-child,
        .griditems:nth-child(2) {
            border-bottom: 1px solid var(--border300);

        }

        .griditems:nth-child(3) {
            @media (max-width:576px) {
                border-bottom: 1px solid var(--border300);

            }
        }

        .griditems:nth-child(2) {
            border-right: none;
        }

        .griditems {
            border-right: 1px solid var(--border300);
            padding: 50px 16px;
            position: relative;
            overflow: hidden;

            @media (max-width:576px) {
                border-right: none;
                padding: 40px 16px;
            }

            h4 {
                color: rgba(255, 255, 255, 0.04);
                font-size: 108px;
                position: absolute;
                top: -35px;
                left: 0;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-family: var(--font-unbounded);
            }

            span {
                display: block;
                @include font16bold;
                color: var(--primary);
                padding: 0 0 38px 0;
            }

            h3 {
                @include font18bold;
                color: var(--text-light);
                margin: 0 0 10px 0;
            }

            p {
                @include font14medium;
                font-size: 15px;
                color: var(--black600);
            }
        }
    }
}