@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.presalePhases {
    padding: 60px 0 70px 0;
     @media (max-width:576px) {
        padding: 80px 0;
     }

    .title {
        padding: 0 0 32px 0;

        h2 {
            @include heading2;
            color: var(--text-white);
            text-shadow: 0px 6px 2.25px rgba(0, 0, 0, 0.25);
            text-align: center;
             @media (max-width:576px) {
                font-size: 32px;
             }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        @media (max-width:1024px) {
            grid-template-columns: 1fr 1fr;
        }
         @media (max-width:576px) {
            grid-template-columns: 1fr;
            gap: 24px;
         }
        .griditems {
            border-radius: 15px;
            background: var(--bg-white-600);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid transparent;
            transition: .3s ease-in-out;
            overflow: hidden;
            
            position: relative;
            &:hover {
                border: 1px solid var(--primary);
                   &::after {
                    animation: shimmer .8s ease-in-out forwards;
                    left: 0;
                }
            }
             &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg,
                        transparent,
                        rgba(7, 192, 47, 0.1),
                        transparent);
                pointer-events: none;
            }
             @keyframes shimmer {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(100%);
                }
            }
            .cardHeader {
                padding: 20px 30px;
                border-bottom: 1px solid var(--border-color);
                border-radius: 15px 15px 0 0;

                p {
                    @include font24bold;
                    color: var(--text-white);
                }
            }

            .cardFooter {
                button {
                    border-radius: 0 0 15px 15px;
                    @include font16bold;
                    color: var(--black);
                    padding: 12px;
                    width: 100%;
                    border: none;
                    background: var(--border-color);
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &.active {
                        background-color: var(--primary);

                        &:hover {
                            background-color: var(--text-white);
                            color: var(--black);
                        }

                    }
                }
            }

            .cardBody {
                padding: 26px 30px;

                .text:last-child {
                    padding: 0;
                }

                .text {
                    padding: 0 0 16px 0;

                    p {
                        @include font16medium;
                        color: var(--gray800);
                    }

                    span {
                        display: block;
                        @include font16bold;
                        color: var(--lihgt-300);
                    }
                }
            }
        }
    }
}
.borderBottom {
        border: 1px solid rgba(0, 0, 0, 0);
    opacity: .5;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 51.44%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.visible .titleAnimation {
    animation: fadeIn 1s ease-in-out;
}

.visible .cardAnimation {
    animation: fadeIn 1s ease-in-out;
}

.visible .cardAnimation:nth-child(1) {
    animation-delay: 0.2s;
}

.visible .cardAnimation:nth-child(2) {
    animation-delay: 0.4s;
}

.visible .cardAnimation:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}