:root {
    --page-background: #030303;
    --black: #000;
    --black600: #666;
    --lihgt-300: #E6E6E6;
    --light-600: #C6C6C6;
    --bg-black200: #27272A;
    --black300: #3F3F46;
    --black250: #252525;
    --linear-gradient-background: linear-gradient(90deg, #00994C 0%, #00FF7F 16.26%, #5F4DC4 70.88%, #7B19D8 86.73%);
    --text-white: #fff;
    --text-light: #F4F4F4;
    --text-light700: #F7F7F7;
    --text-light-300: #F3F4F6;
    --border-black: #191919;
    --border-color: #4D4D4D;
    --border300: #333;
    --black100: #1A1A1A;
    --bg-black-opacity: rgba(4, 4, 4, 0.40);
    --bg-black-opacity-700: rgba(0, 0, 0, 0.70);
    --bg-black-opacity-600: rgba(0, 0, 0, 0.60);
    --bg-black-opacity-500: rgba(0, 0, 0, 0.50);
    --primary: #00FF7F;
    --primary-dark: #01DC6E;
    --border-white: #fff;
    --gray: #B3B3B3;
    --gray100: #A1A1AA;
    --gray400: #D4D4D8;
    --gray700: #717171;
    --bg-light-white: rgba(255, 255, 255, 0.1);
    --bg-light-white400: rgba(255, 255, 255, 0.04);
    --light-text-65: rgba(255, 255, 255, 0.65);
    ;
    --light-border: rgba(250, 250, 250, 0.1);
    --gray800: #8C8C8C;
    --gray900: #FCFCFC;
    --light-800: #FAFAFA;
    --bg-white-600: rgba(255, 255, 255, 0.06);
}