@use '../../scss/main.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.header {
    border-bottom: 1px solid var(--border-black);
    background: var(--bg-black-opacity);
    backdrop-filter: blur(20px);
    padding: 12px 0;

    @media (max-width:1024px) {
        padding: 5px 0;
    }

    .headerAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 65px;
            height: 65px;
            position: relative;

            img {
                display: block;
                cursor: pointer;
            }
        }

        .mobileMenu {
            display: none;

            @media (max-width:1024px) {
                display: block;
            }

            svg {
                cursor: pointer;
            }
        }

        .rightalignment {
            display: flex;
            align-items: center;
            gap: 60px;

            .menu {
                display: flex;
                align-items: center;

                @media (max-width:1024px) {
                    display: none;
                }

                a {
                    display: block;
                    cursor: pointer;
                    @include font14bold;
                    color: var(--gray);
                    padding: 10px ;
                    cursor: pointer;
                    text-transform: uppercase;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: var(--text-white);
                    }
                }
            }

            .button {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            .headerBtn {
                @media (max-width:1024px) {
                    display: none;
                }
            }
        }
    }
}

.topbarAlignment {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    &.hide {
        transform: translateY(-100%);
        transition: .3s ease-in-out;
    }

    &.show {
        transform: translateY(0%);
        position: fixed;
        transition: .3s ease-in-out;
    }
}

.mobileHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #1A1A1A;
    backdrop-filter: blur(20px);

    &.hide {
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    &.show {
        transform: translateX(0%);
        transition: .3s ease-in-out;
    }

    .mobileFooter {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        padding: 20px;

        button {
            @include font20bold;
            padding: 15px;
            width: 100%;
        }
    }

    .mobileBody {
        height: calc(100dvh - 105px - 174px);
        overflow: auto;
        padding: 20px;
        position: relative;

        .menu {
            a {
                display: block;
                padding: 16px 0;
                @include font20medium;
                color: var(--gray);
                text-transform: uppercase;
            }
        }

        .vec {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }

    .mobilesubHeader {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            cursor: pointer;
        }

        .logo {
            width: 65px;
            height: 65px;
            position: relative;

            img {
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
}