@use "../../../scss/main.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

.blogContentAlignment {
  padding: 48px 0 86px 0;

  @media (max-width: 574px) {
    padding: 22px 0 80px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 440px 1fr;
    gap: 48px;

    @media (max-width: 1024px) {
      grid-template-columns: 320px 1fr;
      gap: 20px;
    }

    @media (max-width: 574px) {
      gap: 32px;
      grid-template-columns: 1fr;
    }

    .tableOfContent {
      border-radius: 24px;
      background: var(--bg-white-600);
      padding: 32px;
      position: sticky;
      top: 140px;

      @media (max-width: 574px) {
        padding: 24px;
      }

      h2 {
        @include heading32-bold;
        color: var(--text-white);
        margin: 0 0 32px 0;

        @media (max-width: 1024px) {
          font-size: 22px;
          margin: 0 0 16px 0;
        }

        @media (max-width: 574px) {
          font-size: 24px;
          margin: 0 0 12px 0;
        }
      }

      p:last-child {
        margin: 0;
      }

      p {
        margin: 0 0 24px 0;
        @include font24;
        font-weight: 500;
        color: var(--gray700);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        @media (max-width: 1024px) {
          @include font16medium;
          margin: 0 0 16px 0;
        }

        &:hover {
          color: var(--primary);
        }
      }

      .active {
        p {
          color: var(--primary);
        }
      }
    }

    .details {
      color: var(--text-white);

      .content:last-child {
        padding: 0;
      }

      .content {
        padding: 0 0 64px 0;

        @media (max-width: 1024px) {
          padding: 0 0 40px 0;
        }

        @media (max-width: 574px) {
          padding: 0 0 32px 0;
        }

        img {
          max-width: 100%;
          width: 100%;
          display: block;
        }

        h2 {
          font-family: var(--font-unbounded);
          color: var(--text-white);
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0 0 24px 0;
          text-transform: uppercase;

          @media (max-width: 1024px) {
            font-size: 22px;
            margin: 0 0 16px 0;
          }

          span {
            color: var(--primary);
          }
        }

        ul,
        ol {
          margin: 0;
          padding: 0 0 20px 20px;
          list-style: disc;

          li {
            @include font18;
            padding: 0 0 10px 0;
            font-weight: 500;
            color: var(--text-white);

            @media (max-width: 1024px) {
              @include font16medium;
            }
          }
        }

        a {
          color: var(--primary);
        }

        img {
          width: 100%;
          object-fit: cover;
        }

        h3,
        h4,
        h5,
        h6 {
          font-family: var(--font-unbounded);
          color: var(--text-white);
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0 0 24px 0;
          text-transform: uppercase;

          @media (max-width: 1024px) {
            font-size: 20px;
            margin: 0 0 16px 0;
          }

          span {
            color: var(--primary);
          }
        }


        h1 {
          font-family: var(--font-unbounded);
          color: var(--text-white);
          font-size: 42px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0 0 24px 0;
          text-transform: uppercase;

          @media (max-width: 1024px) {
            font-size: 32px;
            margin: 0 0 16px 0;
          }

        }

        p {
          @include font20medium;
          font-weight: 500;
          color: var(--text-white);
          margin: 0 0 24px 0;

          @media (max-width: 1024px) {
            @include font16medium;
            margin: 0 0 16px 0;
          }
        }

        p:last-child {
          margin: 0;
        }
      }

      .spacing {}
    }
  }
}